soap-service/src/main/resources/xsd/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://demo.com/soap/order"
           targetNamespace="http://demo.com/soap/order"
           elementFormDefault="qualified">

    <!-- ==================== COMPLEX TYPES ==================== -->

    <!-- Address Type -->
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="zipCode" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Customer Type -->
    <xs:complexType name="CustomerType">
        <xs:sequence>
            <xs:element name="customerId" type="xs:string"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="phone" type="xs:string" minOccurs="0"/>
            <xs:element name="shippingAddress" type="tns:AddressType"/>
            <xs:element name="billingAddress" type="tns:AddressType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Order Item Type -->
    <xs:complexType name="OrderItemType">
        <xs:sequence>
            <xs:element name="productId" type="xs:string"/>
            <xs:element name="productName" type="xs:string"/>
            <xs:element name="quantity" type="xs:int"/>
            <xs:element name="unitPrice" type="xs:decimal"/>
            <xs:element name="totalPrice" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Order Status Enum -->
    <xs:simpleType name="OrderStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PENDING"/>
            <xs:enumeration value="CONFIRMED"/>
            <xs:enumeration value="PROCESSING"/>
            <xs:enumeration value="SHIPPED"/>
            <xs:enumeration value="DELIVERED"/>
            <xs:enumeration value="CANCELLED"/>
            <xs:enumeration value="FAILED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ==================== REQUEST ELEMENTS ==================== -->

    <!-- Create Order Request -->
    <xs:element name="CreateOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customer" type="tns:CustomerType"/>
                <xs:element name="items" type="tns:OrderItemType" maxOccurs="unbounded"/>
                <xs:element name="notes" type="xs:string" minOccurs="0"/>
                <xs:element name="priority" type="xs:boolean" default="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get Order Request -->
    <xs:element name="GetOrderRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================== RESPONSE ELEMENTS ==================== -->

    <!-- Create Order Response -->
    <xs:element name="CreateOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:string"/>
                <xs:element name="status" type="tns:OrderStatusType"/>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="totalAmount" type="xs:decimal"/>
                <xs:element name="estimatedDeliveryDate" type="xs:date" minOccurs="0"/>
                <xs:element name="createdAt" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get Order Response -->
    <xs:element name="GetOrderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:string"/>
                <xs:element name="customer" type="tns:CustomerType"/>
                <xs:element name="items" type="tns:OrderItemType" maxOccurs="unbounded"/>
                <xs:element name="status" type="tns:OrderStatusType"/>
                <xs:element name="totalAmount" type="xs:decimal"/>
                <xs:element name="notes" type="xs:string" minOccurs="0"/>
                <xs:element name="createdAt" type="xs:dateTime"/>
                <xs:element name="updatedAt" type="xs:dateTime" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Error Response -->
    <xs:element name="ServiceFault">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="errorCode" type="xs:string"/>
                <xs:element name="errorMessage" type="xs:string"/>
                <xs:element name="timestamp" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
