rest-service/src/main/resources/wsdl/orders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://demo.com/soap/order"
                  targetNamespace="http://demo.com/soap/order"
                  name="OrdersService">

    <!-- Import the XSD schema types -->
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://demo.com/soap/order"
                   targetNamespace="http://demo.com/soap/order"
                   elementFormDefault="qualified">

            <!-- ==================== COMPLEX TYPES ==================== -->

            <!-- Address Type -->
            <xs:complexType name="AddressType">
                <xs:sequence>
                    <xs:element name="street" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="state" type="xs:string"/>
                    <xs:element name="zipCode" type="xs:string"/>
                    <xs:element name="country" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Customer Type -->
            <xs:complexType name="CustomerType">
                <xs:sequence>
                    <xs:element name="customerId" type="xs:string"/>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                    <xs:element name="email" type="xs:string"/>
                    <xs:element name="phone" type="xs:string" minOccurs="0"/>
                    <xs:element name="shippingAddress" type="tns:AddressType"/>
                    <xs:element name="billingAddress" type="tns:AddressType" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Order Item Type -->
            <xs:complexType name="OrderItemType">
                <xs:sequence>
                    <xs:element name="productId" type="xs:string"/>
                    <xs:element name="productName" type="xs:string"/>
                    <xs:element name="quantity" type="xs:int"/>
                    <xs:element name="unitPrice" type="xs:decimal"/>
                    <xs:element name="totalPrice" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>

            <!-- Order Status Enum -->
            <xs:simpleType name="OrderStatusType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="PENDING"/>
                    <xs:enumeration value="CONFIRMED"/>
                    <xs:enumeration value="PROCESSING"/>
                    <xs:enumeration value="SHIPPED"/>
                    <xs:enumeration value="DELIVERED"/>
                    <xs:enumeration value="CANCELLED"/>
                    <xs:enumeration value="FAILED"/>
                </xs:restriction>
            </xs:simpleType>

            <!-- ==================== REQUEST ELEMENTS ==================== -->

            <!-- Create Order Request -->
            <xs:element name="CreateOrderRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="customer" type="tns:CustomerType"/>
                        <xs:element name="items" type="tns:OrderItemType" maxOccurs="unbounded"/>
                        <xs:element name="notes" type="xs:string" minOccurs="0"/>
                        <xs:element name="priority" type="xs:boolean" default="false"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Get Order Request -->
            <xs:element name="GetOrderRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orderId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- ==================== RESPONSE ELEMENTS ==================== -->

            <!-- Create Order Response -->
            <xs:element name="CreateOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orderId" type="xs:string"/>
                        <xs:element name="status" type="tns:OrderStatusType"/>
                        <xs:element name="message" type="xs:string"/>
                        <xs:element name="totalAmount" type="xs:decimal"/>
                        <xs:element name="estimatedDeliveryDate" type="xs:date" minOccurs="0"/>
                        <xs:element name="createdAt" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Get Order Response -->
            <xs:element name="GetOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orderId" type="xs:string"/>
                        <xs:element name="customer" type="tns:CustomerType"/>
                        <xs:element name="items" type="tns:OrderItemType" maxOccurs="unbounded"/>
                        <xs:element name="status" type="tns:OrderStatusType"/>
                        <xs:element name="totalAmount" type="xs:decimal"/>
                        <xs:element name="notes" type="xs:string" minOccurs="0"/>
                        <xs:element name="createdAt" type="xs:dateTime"/>
                        <xs:element name="updatedAt" type="xs:dateTime" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- Error Response -->
            <xs:element name="ServiceFault">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="errorCode" type="xs:string"/>
                        <xs:element name="errorMessage" type="xs:string"/>
                        <xs:element name="timestamp" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>

    <!-- ==================== MESSAGES ==================== -->

    <wsdl:message name="CreateOrderRequest">
        <wsdl:part element="tns:CreateOrderRequest" name="CreateOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="CreateOrderResponse">
        <wsdl:part element="tns:CreateOrderResponse" name="CreateOrderResponse"/>
    </wsdl:message>

    <wsdl:message name="GetOrderRequest">
        <wsdl:part element="tns:GetOrderRequest" name="GetOrderRequest"/>
    </wsdl:message>
    <wsdl:message name="GetOrderResponse">
        <wsdl:part element="tns:GetOrderResponse" name="GetOrderResponse"/>
    </wsdl:message>

    <!-- ==================== PORT TYPE ==================== -->

    <wsdl:portType name="OrdersPort">
        <wsdl:operation name="CreateOrder">
            <wsdl:input message="tns:CreateOrderRequest" name="CreateOrderRequest"/>
            <wsdl:output message="tns:CreateOrderResponse" name="CreateOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetOrder">
            <wsdl:input message="tns:GetOrderRequest" name="GetOrderRequest"/>
            <wsdl:output message="tns:GetOrderResponse" name="GetOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- ==================== BINDING ==================== -->

    <wsdl:binding name="OrdersPortSoap11" type="tns:OrdersPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateOrder">
            <soap:operation soapAction=""/>
            <wsdl:input name="CreateOrderRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CreateOrderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetOrder">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetOrderRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetOrderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- ==================== SERVICE ==================== -->

    <wsdl:service name="OrdersService">
        <wsdl:port binding="tns:OrdersPortSoap11" name="OrdersPortSoap11">
            <soap:address location="http://localhost:8081/ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
