inventory-soap-service/src/main/resources/xsd/inventory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://demo.com/soap/inventory"
           targetNamespace="http://demo.com/soap/inventory"
           elementFormDefault="qualified">

    <!-- ==================== COMPLEX TYPES ==================== -->

    <!-- Inventory Item Type -->
    <xs:complexType name="InventoryItemType">
        <xs:sequence>
            <xs:element name="productId" type="xs:string"/>
            <xs:element name="productName" type="xs:string"/>
            <xs:element name="availableQuantity" type="xs:int"/>
            <xs:element name="reservedQuantity" type="xs:int"/>
            <xs:element name="warehouseLocation" type="xs:string"/>
            <xs:element name="unitPrice" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Inventory Status Enum -->
    <xs:simpleType name="InventoryStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="IN_STOCK"/>
            <xs:enumeration value="LOW_STOCK"/>
            <xs:enumeration value="OUT_OF_STOCK"/>
            <xs:enumeration value="RESERVED"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Reservation Item Type -->
    <xs:complexType name="ReservationItemType">
        <xs:sequence>
            <xs:element name="productId" type="xs:string"/>
            <xs:element name="requestedQuantity" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Reservation Result Type -->
    <xs:complexType name="ReservationResultType">
        <xs:sequence>
            <xs:element name="productId" type="xs:string"/>
            <xs:element name="requestedQuantity" type="xs:int"/>
            <xs:element name="reservedQuantity" type="xs:int"/>
            <xs:element name="status" type="tns:InventoryStatusType"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ==================== REQUEST ELEMENTS ==================== -->

    <!-- Check Inventory Request -->
    <xs:element name="CheckInventoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="productIds" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Reserve Inventory Request -->
    <xs:element name="ReserveInventoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:string"/>
                <xs:element name="items" type="tns:ReservationItemType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- ==================== RESPONSE ELEMENTS ==================== -->

    <!-- Check Inventory Response -->
    <xs:element name="CheckInventoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items" type="tns:InventoryItemType" maxOccurs="unbounded"/>
                <xs:element name="checkedAt" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Reserve Inventory Response -->
    <xs:element name="ReserveInventoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservationId" type="xs:string"/>
                <xs:element name="orderId" type="xs:string"/>
                <xs:element name="results" type="tns:ReservationResultType" maxOccurs="unbounded"/>
                <xs:element name="allReserved" type="xs:boolean"/>
                <xs:element name="reservedAt" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
